{% extends "base.html" %}

{% block title %}오늘의 감정{% endblock title %}

{% block content %}

<div class="diary">
    <div class="diary-header">
        <h2 class="diary-title">오늘의 무드 조각</h2>
        <p class="diary-subtitle">기록이 음악이 되는 순간, 뮤직다이어리</p>
    </div>

    <form method="POST" action="{{ url_for('daily_mood') }}" id="mood-form">
        <p class="diary-label">오늘의 기분은 어떠신가요?</p>
        <input type="hidden" id="mood" name="mood" value="happy">

        <div id="mood-list">
            <div class="mood-buttons">
                <button type="button" class="mood-btn" data-mood="happy">
                    <img src="{{ url_for('static', filename='image/happy.png') }}" style="width: 50px;" class="mood-emoji">
                    <span class="mood-text">희</span>
                </button>
                <button type="button" class="mood-btn" data-mood="angry">
                    <img src="{{ url_for('static', filename='image/angry.png') }}" style="width: 50px;" class="mood-emoji">
                    <span class="mood-text">노</span>
                </button>
                <button type="button" class="mood-btn" data-mood="sad">
                    <img src="{{ url_for('static', filename='image/sad.png') }}" style="width: 50px;" class="mood-emoji">
                    <span class="mood-text">애</span>
                </button>
                <button type="button" class="mood-btn" data-mood="pleasure">
                    <img src="{{ url_for('static', filename='image/pleasure.png') }}" style="width: 50px;" class="mood-emoji">
                    <span class="mood-text">락</span>
                </button>
            </div>

            <textarea name="content" id="content" cols="60" rows="3" placeholder="오늘은 어떤 일이 있었나요? 짧은 메모를 남겨도 좋아요! (선택사항)"></textarea>
        </div>

        <button type="submit" class="btn-jelly-save">저장하고 음악 추천하기</button>

        <!-- count.html 가는 버튼 -->
        <button type="submit" class="btn-jelly-count">지난 기록 꺼내보기</button>
    </form>
</div>

<script>
    const moodInput = document.getElementById("mood");
    const moodButtons = document.querySelectorAll(".mood-btn");

    moodButtons.forEach((button) => {
        button.addEventListener("click", () => {
            moodInput.value = button.dataset.mood;
            moodButtons.forEach((item) => item.classList.remove("is-selected"));
            button.classList.add("is-selected");
        });
    });
</script>
{% endblock content %}
