{% extends "base.html" %}

{% block title %}오늘의 음악 추천{% endblock title %}

{% block content %}
<div class="diary-music">
    <!-- 되돌아가기 -->
    <form method="GET" action="{{ url_for('daily_mood') }}" id="back-link">
        <button type="submit" class="btn-jelly-back">↩ 다시 기록하기</button>
    </form>

    <!-- happy 이모지 -->
    <div class="music-header">
        <div class="mood-happy">
            <img src="{{ url_for('static', filename='image/happy.png') }}" class="music-emoji">
        </div>
        <h2 class="mood-title">오늘 기분이 <span class="highlight-orange">정말 좋아 보이시네요!</span></h2>
        <p class="mood-subtitle">당신의 밝은 에너지에 어울리는 기분 좋은 리듬을 골라봤어요.</p>

        <!-- 노래 추천 -->
        <div class="song-info">
            <div class="song-info-singer"></div>
                <div class="music-icon">🎵</div>
                <p>추천 노래 <br><b>{% if singer %}{{ singer }} - {{ song }}{% else %}{{ song }}{% endif %}</b></p>
            </div>
            <!-- <a href="" target="_blank" class="youtube-link">링크를 눌러주세요!</a> -->
        </div>
    </div>
</div>
{% endblock content %}